
header{
background-color: #FFA500;
      color: #FFFFFF;
      text-align: center;
        max-width: 800px;
      margin: 0 auto;
      border: 5px solid #cf1010;
    }
    main{
      background-color: #FFFFFF;
      color: #FFA500;Esqueceu o e-mail
         text-align: center;
      max-width: 800px;
      margin: 0 auto;
      display: flex;
    }

body {
       max-width: 100vw;
}
